<header>
  <%- include('./partials/encabezado.ejs') %>
</header>
<body>
<div class="container mt-3">
  <div class="jumbotron">
    <h1 style="color: blue"> Ingrese datos de producto</h1>
    <br />
<!-- agrega un producto -->
    <form action="/api/productos" method="post">
      <div class="form-group">
        <label for="nombre"><b>Nombre</b></label>
        <input id="nombre" class="form-control" type="text" name="nombre" />
      </div>

      <div class="form-group">
        <label for="descripcion"><b>Descripcion</b></label>
        <input id="descripcion" class="form-control" type="text" name="descripcion" />
      </div>

      <div class="form-group">
        <label for="codigo"><b>Codigo</b></label>
        <input id="codigo" class="form-control" type="number" name="codigo" />
      </div>
      
      <div class="form-group">
        <label for="imgUrl"><b>URL Imagen</b></label>
        <input id="imgUrl" class="form-control" type="text" name="imgUrl" />
      </div>
      
      <div class="form-group">
        <label for="precio"><b>Precio</b></label>
        <input id="precio" class="form-control" type="number" name="precio" />
      </div>
      
      <div class="form-group">
        <label for="stock"><b>Stock</b></label>
        <input id="stock" class="form-control" type="number" name="stock" />
      </div>

      <button class="btn btn-success mt-3 mb-5">Enviar</button>
    </form>
    <h1 style="color: blue">Actualizar producto</h1>
    <br />
<!-- actualiza un producto -->
    <form action="/api/productos/:id" method="put">      
      <div class="form-group">
        <label for="nombre"><b>Nombre</b></label>
        <input id="nombre" class="form-control" type="text" name="nombre" />
      </div>

      <div class="form-group">
        <label for="descripcion"><b>Descripcion</b></label>
        <input id="descripcion" class="form-control" type="text" name="descripcion" />
      </div>

      <div class="form-group">
        <label for="codigo"><b>Codigo</b></label>
        <input id="codigo" class="form-control" type="number" name="codigo" />
      </div>
      
      <div class="form-group">
        <label for="imgUrl"><b>URL Imagen</b></label>
        <input id="imgUrl" class="form-control" type="text" name="imgUrl" />
      </div>
      
      <div class="form-group">
        <label for="precio"><b>Precio</b></label>
        <input id="precio" class="form-control" type="number" name="precio" />
      </div>
      
      <div class="form-group">
        <label for="stock"><b>Stock</b></label>
        <input id="stock" class="form-control" type="number" name="stock" />
      </div>

      <button class="btn btn-success mt-3 mb-5">Enviar</button>
    </form>

    <h2 style="color: crimson">Historial</h2>
    <%- include('./partials/tabla.ejs',  productos) %>
  </div>
</div>

</body>
